.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  padding: 30px;
  text-align: center;
}

.welcomeHeader {
  color: #000000;
}

.GetStarted {
  padding: 30px;
  text-align: center;
}

.primaryButton {
  background-color: #e74c3c;
  color: #fff;
  min-width: 150px;
  height: 44px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: box-shadow .3s cubic-bezier(.25,.8,.25,1);
  margin: .67em 0;
  outline: none;
}

.primaryButton:hover {
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

h1 {
  margin: 0px;
}

canvas {
  margin: auto;
}

.startContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e74c3c;
}

.startContent {
  background-color: #fff;
  padding: 50px;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
}

.buttonLeft {
  margin-right: 1em;
  margin-top: 2em;
}

.buttonRight {
  margin-left: 1em;
  margin-top: 2em;
}

.linkButton {
  background-color: #fff;
  border: none;
  outline: none;
  text-decoration: dotted underline;
  cursor: pointer;
}

h2 {
  margin: 0;
  padding-bottom: 20px;
}

h4 {
  font-weight: 400;
}

p {
  margin: 0;
  padding-top: 20px;
}

.manualForm {
  text-align: left;
}

.manualForm label, .manualForm input {
  display: block;
}

.manualForm input, textarea {
  margin-bottom: 1rem;
}

.manualForm input {
  height: 44px;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  -webkit-appearance: none;
  text-align: center;
}

.manualForm textarea {
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  -webkit-appearance: none;
  width: 100%;
}

.manualForm input:focus, textarea:focus {
  outline: none;
  border: solid 1px #e74c3c;
  box-shadow: 10px 10px 20px -10px rgba(231, 76, 60, 0.2);
  -webkit-appearance: none;
}

th {
  border-bottom: solid 1px black;
}

th, td {
  padding: 10px;
}

table {
  background-color: #fff;
  padding: 50px;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* MEDIA QUERIES */

@media only screen and (max-width: 466px) {
  .buttonLeft {
    margin-right: 1em;
    margin-left: 1em;
  }
  .buttonRight {
    margin-left: 1em;
    margin-right: 1em;
  }
}